body{ background: linear-gradient(#a2f5b8,#adffd5);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
img{
    position: fixed;
    top: 55%;
    left: 20%;
    height: 300px;
    width: 1000px;
}
button{
    font-size: 25px;
    font-style: italic;
    background-color: #00ff3c;
    color: #15013d;
    border-radius: 30px;
}
button:hover{
    background-color:#b88100 ;
}
.navbar ul{
    border-radius: 30px;
    font-style: italic;
    font-size: larger;
    list-style-type: none;
    background-color: #29ff9b;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.navbar a:hover{
    background-color:#ffa1f7;
}
.navbar li{
    float: left;
}
